@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@utility poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@utility poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@utility poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@utility poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@utility poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@utility poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@utility poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

@utility poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@theme {
  --color-main: #8fbcb4;
  --color-cynlight: #4ee9e0;
  --color-primarygreen: #027e47;
  --color-done-light: #1aa26536;
  --color-done: #1aa265;
  --color-pending: #fc5757;
  --color-pending-light: #ff67673d;
  --color-pending-dark: #c54f4f;
  --color-main-dark: #3c504c;
  --color-secondary: #ff6767;
  --color-secondary-dark: #c54f4f;
  --shadow-done: 0 4px 4px #027e4745;
  --shadow-card-done: 0 0px 10px #027e4745;
  --shadow-pending: 0 0px 10px #ff6767aa;
  --shadow-theme: 0px 0px 15px #92f8e6;
}

body {
  @apply poppins-regular;
}

a {
  @apply poppins-medium text-base;
}

.link-styled {
  @apply block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-main md:p-0 dark:text-white md:dark:hover:text-main dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:hover:text-white md:dark:hover:bg-transparent dark:hover:text-white md:dark:hover:bg-transparent dark:hover:text-white md:dark:hover:bg-transparent;
}

.secondary-btn {
  @apply bg-secondary block py-2 px-3 rounded-lg text-white hover:bg-secondary-dark transition-colors;
}

.btn-outlined-secondary {
  @apply border border-secondary rounded-lg px-3 py-2 text-secondary hover:bg-secondary hover:text-white transition-colors duration-300;
}

.pagination-btn {
  @apply transition flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-main hover:bg-main-dark dark:bg-main dark:hover:bg-main-dark dark:hover:text-white disabled:bg-gray-400;
}

th {
  @apply pb-3 border-b border-gray-200 text-gray-900 dark:text-white;
}

td{
  @apply text-gray-900
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #8fbcb4;
}

::-webkit-scrollbar-thumb:hover {
  background: #63817c;
}
